@{
    ViewData["Title"] = "Contacts";
}
<h1>@ViewData["Title"]</h1>

<p>Get in touch with us via our head office.</p>

<address>
    <strong>@ViewBag.Name</strong><br>
    PLACEHOLDER:ADRESS<br>
    PLACEHOLDER:POSTAL<br>
    <abbr title="Phone">P:</abbr>PLACEHOLDER:PHONE
</address>

<hr />
<h2>Meet the team</h2>


<div class="row">

    @foreach (var employee in ViewBag.employees)
    {
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="@Url.Content(employee.ImageUri)" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@employee.Name</h5>
                <p class="card-text">@employee.Role</p>
                <a href="https://www.google.com/search?q=@employee.Name" target="_blank" class="btn btn-primary">Learn more</a>
            </div>
        </div>
    </div>
    }
</div>

<hr />

<h3>The interns</h3>

<p>PLACEHOLDER:INTERNS</p>
