@model Super_Shop.Models.ContactViewModel

@{
    ViewData["Title"] = "Contacts";

    var contact = ViewBag.Contact as ContactViewModel;
}
<h1>@ViewData["Title"]</h1>

<p>Get in touch with us via our head office.</p>

<address>
    <strong>@ViewBag.Name</strong><br>
    @ViewBag.Address<br>
    @ViewBag.Postalcode<br>
    @ViewBag.Country<br>
    <abbr title="Phone">P:</abbr>@ViewBag.Phone<br>
    <abbr title="Mail">M:</abbr>@ViewBag.Mail
</address>

<hr />

<h2>Meet the team</h2>
<div class="row">


    @foreach (var employee in ViewBag.employees)
    {
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@Url.Content(employee.ImageUri)" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@employee.Name</h5>
                    <p class="card-text">@employee.Role</p>
                    <a href="https://www.google.com/search?q=@employee.Name" target="_blank" class="btn btn-primary">Learn more</a>
                </div>
            </div>
        </div>
    }
</div>

<hr />


<h3>The interns</h3>
<div class="row">
    @foreach (var intern in ViewBag.Interns)
    {
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@Url.Content(intern.ImageUri)" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@intern.Name</h5>
                    <p class="card-text">@intern.Role</p>
                    <a href="https://www.google.com/search?q=@intern.Name" target="_blank" class="btn btn-primary">Learn more</a>
                </div>
            </div>
        </div>
    }
</div>


@* titel, hero uit dropdown, bericht in text area, mailadres *@
<h3>Contact form</h3>
<div class="row">
    <div class="col-md-6">

        <form asp-controller="Home" asp-action="SubmitContactForm" method="post">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input class="form-control" asp-for="Title" />
            </div>
            <div class="form-group">
                <label asp-for="SelectedHeroId"></label>
                <select class="form-control" asp-for="SelectedHeroId" asp-items="Model.Heroes"></select>
            </div>
            <div class="form-group">
                <label asp-for="Message"></label>
                <textarea class="form-control" asp-for="Message"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="Mail"></label>
                <input class="form-control" asp-for="Mail" type="email" />
            </div>

            <button type="submit" class="btn btn-link">Submit form</button>
        </form>

    </div>
</div>
