@model Super_Shop.Models.TeamModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TeamModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PowerLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PowerLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUri)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageUri)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HeroNames)
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (var h in Model.HeroNames)
                {
                    <li>@h</li>
                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
